{% extends "app_travel/.base.html" %}
{% load static %}
{% load humanize %}
{% block title_tab %} Tài khoản của tôi {% endblock %}

{% block main_content %}

<!-- Blog Start -->

<div class="container py-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Personal Detail -->
            <div class="pb-3">
                <div class="bg-white mb-3" style="padding: 30px;">
                    <div class="d-flex mb-3">
                        <div class="">
                            <h4>Thông tin Liên Lạc</h4>
                            
                            {{result_update|safe}}
                            {% with user=request.session.s_user %}
                            {% if not user %}
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 pb-2">
                                        <label class="text-dark">Họ</label>
                                        <input class="form-control" type="text" value="" name="last_name">
                                    </div>
                                    <div class="col-md-6 pb-2">
                                        <label class="text-dark">Tên</label>
                                        <input class="form-control" type="text" value="" name="first_name">
                                    </div>
                            
                                    <div class="col-md-6 pb-2">
                                        <label class="text-dark">Số Điện Thoại</label>
                                        <input class="form-control" type="text" value="" name="phone">
                                    </div>
                                    <div class="col-md-6 pb-2">
                                        <label class="text-dark">Email</label>
                                        <input class="form-control" type="text" value="" name="email">
                                    </div>
                                    <div class="col-md-12 pb-2">
                                        <label class="text-dark">Địa Chỉ</label>
                                        <input class="form-control" type="text" value="" name="address">
                                    </div>

                                </div>
                            </form>
                            {% else %}
                            <div class="pb-2">Quý khách vui lòng kiểm tra thông tin liên lạc và cập nhật lại nếu có thay
                                đổi </div>
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 pb-2">
                                        <label>Họ:</label>
                                        <p><strong>{{user.last_name}}</strong> </p>
                                    </div>
                                    <div class="col-md-6 pb-2">
                                        <label>Tên:</label>
                                        <p><strong>{{user.first_name}}</strong> </p>
                                    </div>

                                    <div class="col-md-6 pb-2">
                                        <label class="text-dark">Số Điện Thoại:</label>
                                        <p><strong>{{user.phone}}</strong> </p>
                                    </div>
                                    <div class="col-md-6 pb-2">
                                        <label class="text-dark">Email:</label>
                                    <p><strong>{{user.email}}</strong> </p>
                                    </div>
                                    <div class="col-md-12 pb-1">
                                        <label class="text-dark">Địa Chỉ:</label>
                                        <p><strong>{{user.address}}</strong> </p>
                                    </div>
                                    <div class="col-md-12 pb-2">
                                        <div class="text-center">
                                         
                                            <a href="{% url 'app_user:my_account' %}"> Cập Nhật
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            {% endif %}
                            {% endwith %}

                            <!-- Change Password -->
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <form method="post">
                        
                            <div class="">
                                <h4>Thông tin Hành Khách</h4>
                                
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12 pb-2">
                                            <label class="text-dark">Họ và Tên Khai Sinh</label>
                                            <input class="form-control" type="text" value="" name="name">
                                        </div>

                                       
                                        <div class="col-md-6 pb-2">
                                            <label class="text-dark">Ngày tháng năm sinh</label>
                                            <div class="row">
                                                <div class="col-sm-12"><input class="form-control" type="text" value=""
                                                        name="birth_day"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 pb-2">
                                            <label class="text-dark">Số Điện Thoại Liên Lạc</label>
                                            <input class="form-control" type="text" value="{{user.phone}}" name="phone">
                                        </div>

                                        <div class="col-md-12 pb-2">
                                            <label class="text-dark">Địa Chỉ</label>
                                            <input class="form-control" type="text" value="{{user.address}}" name="address">
                                        </div>

                                    </div>
    
                            </div>
                            <div class="row mt-3" style="border: 1px solid #eee">
                            
                                <div class="col-md-6">
                                    <div class="row">
                                        <h5 class="mr-3">Người lớn</h5>
                                        <div class="qty">
                                            <button type="button" class="btn-minus"><i class="fas fa-minus"></i></button>
                                            <input class="adult_quantity" style="width:30px; text-align: center;" type="text"
                                                value="{{adult_quantity}}" name="adult_quantity">
                                            <button type="button" class="btn-plus"><i class="fas fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <h5 class="mr-3">Trẻ em</h5>
                                        <div class="qty">
                                            <button type="button" class="btn-minus"><i class="fas fa-minus"></i></button>
                                            <input class="children_quantity" style="width:30px; text-align: center;" type="text"
                                                value="{{children_quantity}}" name="children_quantity">
                                            <button type="button" class="btn-plus"><i class="fas fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if error %}
                            <div>{{error}}</div>
                            {% endif %}
                            <div class="booking-button mt-5 text-center"><a href=""><button class="btn" type="submit" name="btnCheckout" value="Tiến Hành Đặt"> Tiến
                                        Hành Đặt </button></a></div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Blog Detail End -->

            <!-- Comment List Start -->
        </div>  
        <div class="col-lg-4 mt-5 mt-lg-0">
            <!-- User Bio -->
            <h4 class=" mb-3">Tóm tắt tour</h4>
            <div class="d-flex flex-column text-center bg-white mb-3 py-5 ">
                <!-- <img src="user/img/user.jpg" class="img-fluid mx-auto mb-3" style="width: 100px;"> -->
                
                <div class="bg-white" style="padding: 10px;">
                    <div class="pb-3">
                        <img style="width:200px;height:100px" src="{{tour_detail.image.url}}" alt="{{tour_detail.name}}"> 
                    </div>
                    <ul class="list-inline m-0">
                        <li class="mb-3 d-flex justify-content-between align-items-center">
                            <div  style="font-weight: bold">{{tour_detail.name}}</div>
                         
                        </li>
                        <li class="mb-3 d-flex justify-content-between align-items-center">
                            <div><i class="fa fa-angle-right text-primary mr-2"></i>Khởi hành từ</div>
                            <span style="font-weight: bold;">{{tour_detail.departure.name}}</span>
                        </li>
                        <li class="mb-3 d-flex justify-content-between align-items-center">
                            <div><i class="fa fa-angle-right text-primary mr-2"></i>Ngày khởi hành</div>
                            <span style="font-weight: bold;">150</span>
                        </li>
                        <li class="mb-3 d-flex justify-content-between align-items-center">
                            <div><i class="fa fa-angle-right text-primary mr-2"></i> Thời gian</div>
                            <span style="font-weight: bold;">{{tour_detail.days}}</span>
                        </li>
                        <li class="mb-3 d-flex justify-content-between align-items-center">
                            <div><i class="fa fa-angle-right text-primary mr-2"></i> Phương tiện</div>
                            <span style="font-weight: bold;">{{tour_detail.transportation}}</span>
                        </li>
                        <li class="mb-3 d-flex justify-content-between align-items-center">
                            <div><i class="fa fa-angle-right text-primary mr-2"></i> Nghỉ ngơi</div>
                            <span style="font-weight: bold;">{{tour_detail.acommondation}}</span>
                        </li>
                        
                    </ul>
                </div>
            </div>


   
            <!-- Search Form -->
            <div class="mb-5">
                <div class="bg-white" style="padding: 30px;">
                    <form class="input-group" method="get" action="{% url 'app_travel:search' %}">
                        <input type="search" class="form-control rounded" placeholder="Tìm Kiếm" aria-label="Search"
                            aria-describedby="search-addon" name="keyword" autocomplete="off" value="" />
                        <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
                            <small><i class="fas fa-search" aria-hidden="true"></i></small>
                        </button>
                    </form>
                </div>
            </div>


        </div>





    </div>
</div>

<!-- Blog End -->


{% endblock %}