{% extends "app_travel/.base.html" %}
{% load static %}

{% load humanize %}
{% load mathfilters %}
{% block title_tab %} Tài khoản của tôi {% endblock %}

{% block main_content %}

<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4 mt-5 mt-lg-0">
                <!-- User Bio -->
                <div class="d-flex flex-column text-center bg-white mb-3 py-5 px-4">
                    <!-- <img src="user/img/user.jpg" class="img-fluid mx-auto mb-3" style="width: 100px;"> -->
                    <h3 class="text-primary mb-3">{{user.last_name}} {{user.first_name}}</h3>
                    <div>
                        {{user.member_class}}
                    </div>

                </div>

                <!-- Booked Tours -->
                <div class="mb-3">
                    <h4 class="mb-4">Hành Trình</h4>
                    <div class="bg-white" style="padding: 30px;">
                        <ul class="nav flex-column nav-tabs" aria-orientation="vertical">
                            <li>
                                <a data-toggle="tab" href="#coming-tour"><i class="fas fa-clock mr-2"></i>Tour Sắp
                                    Tới</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#history"><i class="fas fa-history mr-2"></i>Lịch Sử</a>

                            </li>
                        </ul>
                    </div>
                </div>

                <!-- User Detail -->
                <div class="mb-3">
                    <h4 class=" mb-3">Tài Khoản</h4>
                    <div class="bg-white" style="padding: 30px;">
                        <ul class="nav flex-column nav-tabs" aria-orientation="vertical">
                            <li><a data-toggle="tab" href="#personal_detail"><i
                                        class="fa fa-angle-right text-primary mr-2"></i>Thông tin cá nhân</a></li>
                            <li><a data-toggle="tab" href="#change_password"><i
                                        class="fa fa-angle-right text-primary mr-2"></i>Đổi mật khẩu</a></li>
                            <li class="pt-2"><a href="{% url 'app_user:logout' %}"><i
                                        class="fas fa-sign-out-alt mr-2"></i>Đăng Xuất</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Search Form -->
                <div class="mb-5">
                    <div class="bg-white" style="padding: 30px;">
                        <form class="input-group" method="get" action="{% url 'app_travel:search' %}">
                            <input type="search" class="form-control rounded" placeholder="Tìm Kiếm" aria-label="Search"
                                aria-describedby="search-addon" name="keyword" autocomplete="off" value="" />
                            <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
                                <small><i class="fas fa-search" aria-hidden="true"></i></small>
                            </button>
                        </form>
                    </div>
                </div>


            </div>


            <div class="col-lg-8">
                <!-- Personal Detail -->
                <div class="pb-3">
                    <div class="bg-white mb-3" style="padding: 30px;">
                        <div class="d-flex mb-3">
                            <div class="tab-content">
                                <div id="personal_detail" class="tab-pane fade">
                                    <h4>Thông tin cá nhân</h4>
                                    {{result_update|safe}}
                                    {% with user=request.session.s_user %}
                                    <form method="post">

                                        {% csrf_token %}

                                        <div class="row">
                                            <div class="col-md-6 pb-2">
                                                <label>Họ</label>
                                                <input class="form-control" type="text" value="{{user.last_name}}"
                                                    name="last_name">
                                            </div>
                                            <div class="col-md-6 pb-2">
                                                <label>Tên</label>
                                                <input class="form-control" type="text" value="{{user.first_name}}"
                                                    name="first_name">
                                            </div>

                                            <div class="col-md-6 pb-2">
                                                <label>Tên Tài Khoản</label>
                                                <input class="form-control" type="text" value="{{user.username}}"
                                                    disabled>
                                            </div>
                                            <div class="col-md-6 pb-2">
                                                <label>Số Điện Thoại</label>
                                                <input class="form-control" type="text" value="{{user.phone}}"
                                                    name="phone">
                                            </div>
                                            <div class="col-md-6 pb-2">
                                                <label>Email</label>
                                                <input class="form-control" type="text" value="{{user.email}}"
                                                    name="email">
                                            </div>
                                            <div class="col-md-12 pb-2">
                                                <label>Địa Chỉ</label>
                                                <input class="form-control" type="text" value="{{user.address}}"
                                                    name="address">
                                            </div>
                                            <div class="col-md-12 pb-2">
                                                <div class="text-center">
                                                    <button class="btn btn-secondary py-3 px-4" name="btnUpdate"
                                                        value="Cập Nhật" type="submit">Cập Nhật
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <!-- Change Password -->
                                <div id="change_password" class="tab-pane fade">
                                    <h4> Thay Đổi Mật Khẩu</h4>
                                    <div>{{result_password|safe}}</div>
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="row">

                                            <div class="col-md-12 pb-2">
                                                <label>Nhập mật khẩu cũ</label>
                                                <input class="form-control" type="password" name="current_password">
                                            </div>


                                            <div class="col-md-12 pb-2">
                                                <label>Nhập mật khẩu mới</label>
                                                <input class="form-control" type="password" name="new_password">
                                            </div>

                                            <div class="col-md-12 pb-2">
                                                <label>Nhập lại mật khẩu mới</label>
                                                <input class="form-control" type="password" name="confirm_password">
                                            </div>


                                            <div class="col-sm-12">
                                                <div class="text-center">
                                                    <button class="btn btn-secondary py-3 px-4" name="btnChangePassword"
                                                        type="submit" value="Change password"> Đổi Mật Khẩu</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {% endwith %}
                                <!-- booked tour detail -->
                                <div id="coming-tour" class="tab-pane fade in active">
                                    {% if bookings|length > 0 %}
                                    <h4>Tour Sắp Tới</h4>
                                    {% for booking in bookings %}
                                    <div class="card mb-3" style="width: 700px">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <div class="card-body">
                                                    <img style="width: 100%" src="{{booking.tour.image.url}}">

                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h5 class="card-title">
                                                                {{booking.tour.departure_date|date:"d-m-Y"}}</h5>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <button
                                                                style="background-color: white;color:green; font-weight: bold;"
                                                                type="button" class="btn btn-primary"
                                                                data-toggle="modal"
                                                                data-target="#booking_{{booking.id}}">
                                                                Đã Thanh Toán
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <a class=" text-decoration-none "
                                                        href="{% url 'app_travel:tour_detail' booking.tour.id %}">
                                                        <p class="card-text pt-2"
                                                            style="font-weight: bold; color:darkslategray">
                                                            {{booking.tour.name}}
                                                        </p>
                                                    </a>
                                                    <div class="row mt-4">
                                                        <div class="col-sm-6">
                                                            <div class="card-text text-dark"><i
                                                                    class="far fa-calendar  mr-2"></i>{{booking.tour.days}}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="card-text text-dark"><i
                                                                    class="fas fa-car mr-2"></i>{{booking.tour.transportation}}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="card-text text-dark"><i
                                                                    class="fas fa-hotel mr-2"></i>{{booking.tour.acommondation}}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="card-text text-dark"><i
                                                                    class="fas fa-location-arrow mr-2"></i>{{booking.tour.departure.name}}
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    {% endfor %}

                                    {% else %}
                                    <div class="text-center">
                                        <h4>Bạn không có chuyến đi nào sắp tới</h4>
                                        <div> Đặt tour để trải nghiệm thêm những chuyến đi</div>
                                    </div>
                                    {% endif %}
                                </div>

                                <div id="history" class="tab-pane fade">
                                    <h3>Lịch Sử</h3>
                                    {% if bookings_history|length > 0 %}
                                    {% for booking in bookings_history %}
                                    <div class="card mb-3" style="width: 700px">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <div class="card-body">
                                                    <img style="width: 100%" src="{{booking.tour.image.url}}">

                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h5 class="card-title">
                                                                {{booking.tour.departure_date|date:"d-m-Y"}}</h5>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <button
                                                                style="background-color: white;color:darkgoldenrod; font-weight: bold;"
                                                                type="button" class="btn btn-secondary"
                                                                data-toggle="modal"
                                                                data-target="#booking_{{booking.id}}">
                                                                Đã Hoàn Tất
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <a class=" text-decoration-none"
                                                        href="{% url 'app_travel:tour_detail' booking.tour.id %}">
                                                        <p class="card-text pt-2"
                                                            style="font-weight: bold; color:darkslategray">
                                                            {{booking.tour.name}}
                                                        </p>
                                                    </a>
                                                    <div class="row mt-4">
                                                        <div class="col-sm-6">
                                                            <div class="card-text text-dark"><i
                                                                    class="far fa-calendar  mr-2"></i>{{booking.tour.days}}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="card-text text-dark"><i
                                                                    class="fas fa-car mr-2"></i>{{booking.tour.transportation}}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="card-text text-dark"><i
                                                                    class="fas fa-hotel mr-2"></i>{{booking.tour.acommondation}}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="card-text text-dark"><i
                                                                    class="fas fa-location-arrow mr-2"></i>{{booking.tour.departure.name}}
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>

<!-- Modal -->
{% for booking in bookings %}
<div class="modal fade" id="booking_{{booking.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chi tiết Thanh Toán</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-inline m-0">
                    <li class="mb-3 d-flex justify-content-between align-items-center">
                        <div style="font-weight: bold;"><i class="fa fa-angle-right text-primary mr-2"></i>Hành
                            Khách</div>
                        <span style="font-weight: bold; color:red">
                            {{booking.adult_total_price|add:booking.children_total_price|floatformat:0|intcomma}}
                        </span>
                    </li>
                    <li class="mb-3 d-flex justify-content-between align-items-center">
                        <small class=" mr-2">Người lớn</small>
                        <small style="font-weight: bold;">{{booking.adult_quantity}} x
                            {{booking.tour.price|floatformat:0|intcomma}}</small>
                    </li>
                    {% if booking.children_quantity > 0 %}
                    <li class="mb-3 d-flex justify-content-between align-items-center">
                        <small class=" mr-2">Trẻ Em</small>
                        <small style="font-weight: bold;">{{booking.children_quantity}} x
                            {{booking.tour.children_price|floatformat:0|intcomma}}</small>
                    </li>
                    {% endif %}
                    <li class="mb-3 d-flex justify-content-between align-items-center">
                        <div style="font-weight: bold;"><i class="fa fa-angle-right text-primary mr-2"></i>Giảm
                            Giá</div>
                        <span style="font-weight: bold;color:red">{{booking.discount}}</span>
                    </li>

                    <li class="mb-3 d-flex justify-content-between align-items-center">
                        <div>
                            <h5 style="font-weight: bold;">Tổng Tiền</h5>
                        </div>
                        <span style="font-weight: bold; color:red">{{booking.total_price|floatformat:0|intcomma}}</span>
                    </li>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% for booking in bookings_history %}
<div class="modal fade" id="booking_{{booking.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chi tiết Thanh Toán</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-inline m-0">
                    <li class="mb-3 d-flex justify-content-between align-items-center">
                        <div style="font-weight: bold;"><i class="fa fa-angle-right text-primary mr-2"></i>Hành
                            Khách</div>
                        <span style="font-weight: bold; color:red">
                            {{booking.adult_total_price|add:booking.children_total_price|floatformat:0|intcomma}}
                        </span>
                    </li>
                    <li class="mb-3 d-flex justify-content-between align-items-center">
                        <small class=" mr-2">Người lớn</small>
                        <small style="font-weight: bold;">{{booking.adult_quantity}} x
                            {{booking.tour.price|floatformat:0|intcomma}}</small>
                    </li>
                    {% if booking.children_quantity > 0 %}
                    <li class="mb-3 d-flex justify-content-between align-items-center">
                        <small class=" mr-2">Trẻ Em</small>

                        <small style="font-weight: bold;">{{booking.children_quantity}} x
                            {{booking.tour.children_price|floatformat:0|intcomma}}</small>

                    </li>
                    {% endif %}
                    <li class="mb-3 d-flex justify-content-between align-items-center">
                        <div style="font-weight: bold;"><i class="fa fa-angle-right text-primary mr-2"></i>Giảm
                            Giá</div>
                        <span style="font-weight: bold;color:red">{{booking.discount}}%</span>
                    </li>

                    <li class="mb-3 d-flex justify-content-between align-items-center">
                        <div>
                            <h5 style="font-weight: bold;">Tổng Tiền</h5>
                        </div>
                        <span style="font-weight: bold; color:red">{{booking.total_price|floatformat:0|intcomma}}</span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary"
                    onclick="window.location.href='{% url 'app_user:export_payment_to_pdf' booking.pk  %}'">Tải
                    PDF</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}







{% endblock %}

{% block page_script %}
<script>
    $(document).ready(function () {
        $('a[data-toggle="tab"][href="#coming-tour"]').trigger('click');
    })
</script>
{% endblock %}